body {
    background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
    color: rgb(68, 68, 68);
  }
  
  #page-logo a {
    color: rgb(183, 230, 235);
  }
  
  header {
    position: static;
  }
  
  header a {
    color: rgb(183, 230, 235);
  }
  
  header nav a:hover {
    background-color: rgb(183, 230, 235);
    color: rgb(59, 59, 59);
  }
  
  main ul {
    width: 100%;
    padding: 50px;
    margin: 0 auto 48px auto;
    display: flex;
  }

  main li {
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
  }

  .item-content {
  padding: 24px;
  display: flex;
  justify-content: space-between;
}